<script type="text/javascript">
    $(document).ready(function() {
        $("#problemtable").tablesorter();
    });
</script>

<link rel="stylesheet" href="/linker/styles/tablesorter.css">

<div class="container">
    <div class="main">
        <h1 id="main-title"><%= dataset %> Problems</h1>

        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                data <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/problem/downloadJSON">download all (JSON)</a></li>
                <li class="divider"></li>
                <li><a href="/problem/downloadCSV">download all (CSV)</a></li>
                <li class="divider"></li>
                <li><a href="/problem/downloadJSON?mdb_limit=3">download 3 (JSON)</a></li>
                <li class="divider"></li>
                <li><a href="/problem/downloadCSV?mdb_limit=3">download 3 (CSV)</a></li>
                <li class="divider"></li>
                <li><a href="/problem/conceptVisualize/CS169">visualize concepts</a></li>
                <li class="divider"></li>
                <li><a href="/problem/conceptMasteryVisualize/CS169">visualize concept mastery</a></li>
            </ul>
        </div>

        <br><br>

        <table class='table tablesorter' id='problemtable'>
            <thead>
            <tr>
                <th class='header'>id<span style="color: #fff">_</span></th>
                <th class='header'>problem</th>
                <th class='header'>concepts</th>
                <th class='header'>type<span style="color: #fff">_</span></th>
                <th class='header'>responses<span style="color: #fff">_</span></th>
                <th class='header'>correct<span style="color: #fff">_</span></th>
                <th class='asdf'></th>
            </tr>
            </thead>
            <tbody>
            <% _.each(problems, function(problem) { %>
            <tr data-id="<%= problem.id %>" data-model="problem">
                <td><%= problem.problem_id %></td>
                <td><%= problem.text %></td>
                <td><%= problem.concepts %></td>
                <td><%= problem.problem_type %></td>
                <td><%= problem.num_submissions %></td>
                <% var percent = Math.round((problem.num_correct/problem.num_submissions)*1000)/10; %>
                <% if (percent > 75) { %>
                <td><span style="color: #00ff00"><%= Math.round((problem.num_correct/problem.num_submissions)*1000)/10 %>%</span></td>
                <% } else if (percent < 50) { %>
                <td><span style="color: #ff0000"><%= Math.round((problem.num_correct/problem.num_submissions)*1000)/10 %>%</span></td>
                <% } else { %>
                <td><%= Math.round((problem.num_correct/problem.num_submissions)*1000)/10 %>%</td>
                <% } %>
                <td><a href="/problem/visualize/<%= problem.id %>" class="btn btn-sm btn-warning">visualize</a></td>
            </tr>
            <% }) %>
            </tbody>
        </table>

    </div>
</div>
