<link rel="stylesheet" href="/linker/styles/piechart.css">

<div id="route">
    <%= route %>
</div>

<div id="question_text">
    <strong>Question: </strong><%- problem.text %>
    <br><br>
    <table class='table' id='answertable'>
        <thead>
        <tr>
            <th class='header'>Color</th>
            <th class='header'>Answer</th>
            <th class='header'>Percent</th>
            <th class='header'>Responses</th>
        </tr>
        </thead>
        <tbody>
        <% var counter = 0 %>
        <% _.each(answers_json, function(answer) { %>
        <tr>
            <td id='color_<%= counter++ %>'></td>
            <td><%- answer.answer_text %></td>
            <td><%= Math.round((answer.count/num_responses)*1000)/10 %>%</td>
            <td><%= answer.count %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>

<script type="text/javascript" src="/linker/js/d3.v3.js"></script>
<script type="text/javascript" src="/linker/js/pie.js"></script>
