<div class="container">
    <div class="main">
        <h1 id="main-title">researchers</h1>

        <table class='table'>
            <% _.each(researchers, function(researcher) { %>
            <tr data-id="<%= researcher.id %>" data-model="researcher">
                <td><%= JSON.stringify(researcher, null, '\t') %></td>

                <td><div class="btn-group">
                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown">
                        access <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/researcher/updateDatasets?id=<%= researcher.id %>&dataset=CS169">CS169</a></li>
                        <li class="divider"></li>
                        <li><a href="/researcher/updateDatasets?id=<%= researcher.id %>&dataset=CS294">CS294</a></li>
                    </ul>
                </div></td>

                <td><form action="/researcher/destroy/<%= researcher.id %>" method="POST">
                    <input type="hidden" name="_method" value="delete"/>
                    <input type="submit" class="btn btn-sm btn-danger" value="delete"/>
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                </form></td>
            </tr>
            <% }) %>
        </table>

    </div>
</div>
